.headerContainer {
  padding: 2.5rem 1.3rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  li {
    display: inline;
  }

  li a {
    text-align: center;
    padding: 0 5px;
    text-decoration: none;
    color: #000000;
  }

  li a:hover {
    color: green;
  }

  &__icon {
    font-size: 25px;
  }
}
